
body {
    font-family: Arial, sans-serif;
    background-color: #f0fdf4;
    text-align: center;
    color: #333;
}

nav a {
    margin: 10px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #9ef0e0;
    border-radius: 5px;
    color: #004d40;
}

nav a:hover {
    background-color: #5cd0b5;
}

img {
    border-radius: 10px;
    margin-top: 15px;
}

form {
    background: #dff6f0;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}

textarea {
    width: 300px;
    height: 100px;
}

.comentario {
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}